/HW/History
/HW/Project Logs for Z80BD/*.LOG
/HW/*.log
/HW/src/__Previews
/CPLD/build
/CPLD/db
/CPLD/incremental_db
/CPLD/src/*.bak
/FW/*.bin
/FW/build
/HW/Project Logs for Z80BD
/CPLD/src/z80db_tb.vcd
/Z80sdcc/build
/ZXCOMPORT/CPLD/incremental_db
/ZXCOMPORT/CPLD/db
/ZXCOMPORT/CPLD/build
/ZXCOMPORT/CPLD/src/z80db.v.bak
/ZXCOMPORT/CPLD/src/z80db_tb.vcd
/ZXCOMPORT/HW/History
/ZXCOMPORT/HW/src/__Previews
/ZXCOMPORT/HW/Project Logs for comport
/ZXCOMPORT/HW/*.log
/HW/src/*.log
/HW_prot0/debug.log
/HW_prot0/History
/HW_prot0/src/__Previews
/HW_prot0/Project Logs for epm3128/*.LOG
/epm3128_proto_board/debug.log
/epm3128_proto_board/History
/epm3128_proto_board/Project Logs for epm3128
/epm3128_proto_board/Project Outputs for epm3128
/epm3128_proto_board/src/__Previews
/HW_prot0/Project Logs for epm3128
